*{
    margin: 0;
    padding: 0;
   
    
}
.container{
    background-color: rgb(182, 200, 221);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 125px 1fr 1fr ;
    gap: 20px;
    

}

.header{
    background-color: rgb(240, 242, 245);
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    margin-left: -20px ;
    
}
.search{
    grid-row: 1/2;
  
}

.smallavatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;

}

.header .top-profile ul {
  list-style: none;
  display: flex;
  margin: 0 20px;
  justify-content: space-around;
 
}

.header .top-profile ul li {
  list-style: none;
 
  
}

.photo{
    grid-column: 1/2;
    display: flex;
    
}

.photo img{
  width: 60px;
  height: 60px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;

}

.profilelinks ul{
    list-style: none;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    
        
}

.profilelinks ul li{
  display: inline-flex;
  margin: 0 15px;
 
  
}



.profilelinks button {
  width: 100px;
  background-color: #251e21;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.profilelinks button:hover,
.profilelinks button:focus {
  background-color: #884d4d;
}

form {
  background-color: #fff;
  width: 80%;
  height: 25px;
  border-radius: 5px;
  display:flex;
  flex-direction:row;
  align-items:center;
}
input {

  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: rgb(15, 15, 15);
  opacity: 0.7; 
}

svg {
  color: rgb(37, 36, 36);
  fill: currentColor;
  width: 20px;
  height: 24px;
  padding: 10px;
}

 form button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}



/* Dashboard */

.sidebar{
    background-color: rgb(151, 186, 231);
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: repeat(10fr);
    grid-template-columns: 30% 1fr;
    justify-content: space-around;
    
}

.sidebar div img{
    height: 20px;
    width: 20px;
    padding-left: 30%;
    
}
.sidecontent{
  justify-content: center;
  align-items: center;
}

/* Main */

.article {
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
   
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(221, 221, 221);
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }

  /* announcements */

  .announcements{
    grid-column: 3/4;
    grid-row: 2/3;
    
  }
  .announcements p {
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(17, 16, 16);
    text-align: left;
  }
  
  .announcements .acard {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
  }
  
  .acard p {
    color: black;
    font-weight: normal;
    font-size: 12px;
  }
  
  .acard .atitle {
    font-size: 14px;
    text-align: center;
  }

  .trending{
    background-color: darkcyan;
    grid-column: 3/4;
    grid-row: 3/4;

  }

